/* src/App.css */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

.MuiCard-root:hover {
  transform: scale(1.02);
}

.MuiButton-containedPrimary {
  background-color: #cfa1ff;
}

.MuiButton-containedPrimary:hover {
  background-color: #c38bff;
}
